@import "~bulma/css/bulma.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400|Inter:400,700");

  .navbar{
    background-color: #21265C;
    color: white;
  }
  .navbar-item{
    color: white;
  }

.hero-body{
  background-color: #313744;
}
.footer{
  background-color: #333333;
  color: azure;
}